@model WebUI.Models.MessageViewModel
@{
    ViewBag.Title = "EncodePartialView";
}


<div class="container-fluid">
    <div class="jumbotron ">
        <div class="row">
            <div class="col-md-6">
                
                    @using (Ajax.BeginForm(new AjaxOptions { UpdateTargetId = "EncodedMessage", LoadingElementId = "encoding", LoadingElementDuration = 300, Url = Url.Action("GetEncodedMessage"), HttpMethod = "Post" }))
                    {
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-11 ">
                                <div class="has-float-label">
                                    @Html.TextAreaFor(m => m.message, 10, 10, new { style = "width:100%; height:100%; max-width:100%; resize:none;", @class = "form-control", placeholder=" " })
                                    @Html.LabelFor(m=>m.message)
                                </div>
                             </div>
                                <div class="col-md-1 align-self-center " style="z-index:1;">
                                    <button type="submit" class="btn btn-sm btn-success ">
                                        Encode !
                                    </button>
                                </div>
                            </div>
                        
                        <div class="form-inline mt-2">
                            <span class="has-float-label">
                                @Html.TextBoxFor(m => m.n, new { style = "width:50%; height:10%;", @class = "form-control", placeholder="Enter N" })
                                @Html.LabelFor(m=>m.n)
                            </span>
                            <span class="has-float-label">
                                @Html.TextBoxFor(m => m.e, new { style = "width:50%; height:10%;", @class = "form-control", placeholder="Enter E" })
                                @Html.LabelFor(m => m.e)
                            </span>

                        </div>
                    </div>
                    }
                
            </div>
            

            <div class="col-md-6">
                @Html.Action("GetEncodedMessage")

            </div>
        </div>
    </div>
</div>

