@model WebUI.Models.WalletViewModel
@{
    ViewBag.Title = "WalletDataPartialView";
}

    <div class="container">
        <div class="lds-roller" id="loading" role="status" style="display: none"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
        <div id="KeyValues" class="row row-no-gutters form-group" >
            <div class="col-md-6">
                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#privateKey">Private Key</button>
                <div id="privateKey" class="collapse row row-no-gutters" style="margin-top: 2%;">
                    <div class="has-float-label col-md-2">
                        @Html.TextBoxFor(m => m.n, new { @readonly = "readonly", @class = "form-control", placeholder = "N" })
                        @Html.LabelFor(m => m.n)
                    </div>
                    <div class="has-float-label col-md-2">
                        @Html.TextBoxFor(m => m.d, new { @readonly = "readonly", @class = "form-control", placeholder = "D" })
                        @Html.LabelFor(m => m.d)
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#publicKey">Public Key</button>
                <div id="publicKey" class="collapse row row-no-gutters" style="margin-top: 2%;">
                    <div class="has-float-label col-md-2">
                        @Html.TextBoxFor(m => m.n, new { @readonly = "readonly", @class = "form-control", placeholder = "N" })
                        @Html.LabelFor(m => m.n)
                    </div>
                    <div class="has-float-label col-md-2">
                        @Html.TextBoxFor(m => m.e, new { @readonly = "readonly", @class = "form-control", placeholder = "E" })
                        @Html.LabelFor(m => m.e)
                    </div>
                </div>
            </div>



        </div>
    </div>
